html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: "Rubik", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
    margin: 0;
    padding: 0;
	list-style: none;
}

a {
    text-decoration: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

button,input {
    cursor: pointer;
	outline: none;
	border: none;
	background: transparent;
	padding: 0;
    margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: "Rubik", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	height: 100%;
}

.overflo {
    overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1398px;
	margin: 0 auto;
}

.main {
	flex: 1 1 auto;
}

/* Стандартные стили */

/* Стили для блоков */

@media (max-width: 1440px) {

    .header-top__wrap {
        padding: 0px 20px;
    }

    .header-bottom {
        padding: 0px 20px;
    }

    .main-inner {
        padding: 0px 20px;
    }

    .footer-top__wrap {
        padding: 0px 20px;
    }

    .footer-bottom__wrap {
        padding: 0px 20px;
    }
}

/* header */

.header-top__wrap {
    background-color: #F4F4F4;
}

.header-menu {
    padding: 19px 0px 22px 0px;
}

.header-menu__list {
    display: flex;
}

.header-menu__item {
    margin-right: 22px;
}

.header-menu__item:last-child {
    margin-right: 0;
}

.header-menu__link {
    transition: 0.3s;
    display: inline-block;
    color: #B1AFAA;
}

.header-menu__link:hover {
    color: #303030;
}

.header-menu__link.activ {
    color: #303030;
}

.header-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 46px 0px 43px 0px;
}

.logo {
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 6px;
}

.logo span {
    display: inline-block;
}

.logo a {
    display: inline-block;
}

.logo-text .subtitle {
    font-size: 19px;
    color: #303030;
}

.info-addres-phone__wrap {
    display: flex;
    align-items: center;
}

.info-addres {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.addres-icon {
    width: 16px;
    height: 24px;
    margin-right: 20px;
}

.addres-icon i {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.addres-desc {
    color: #303030;
}

.info-phone {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.phone-icon {
    width: 21px;
    height: 21px;
}

.phone-icon i {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.info-phone__list {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0 20px;
}

.info-phone__item {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    color: #303030;
}

.info-phone__item {
    display: inline-block;
}

.phone-btn {
    color: #47A15D;
    padding-bottom: 2px;
    border-bottom: 1px dashed #47A15D;
}

.header-search-shop-cart__wrap {
    display: flex;
    align-items: center;
}

.site-search {
    display: flex;
    align-items: center;
    width: auto;
    height: 60px;
    background: #F4F4F4;
    margin-right: 10px;
}

.site-search__panel {
    width: auto;
    height: 100%;
    padding: 10px 15px;
    border-right: 1px solid #b1afaa;

    display: none;
}

.site-search__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
}

.site-search__btn i {
    display: block;
    width: 22px;
    height: 22px;
}

.shop-cart__wrap {
    height: 60px;
    padding: 19px 28px 20px 20px;
    display: flex;
    align-items: center;
    background: #FFCD1C;
}

.cart-badge {
    width: 31px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='20' viewBox='0 0 31 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H25L31 10L25 20H0V0Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3px;
    padding-left: 7px;
    margin-right: 20px;
}

.cart-group {
    display: flex;
    align-items: center;
}

.cart-badge span {
    font-size: 11px;
    color: #1C1C1C;
}


.cart-left-icon {
    width: 21px;
    height: 21px;
    margin-right: 20px;
}

.cart-left-icon i {
    display: block;
    width: 100%;
    height: 100%;
}

.cart-desc {
    font-size: 19px;
    color: #fff;
    font-weight: 500;
}

.cart-desc span {
    font-weight: 300;
    padding-left: 5px;
}

.cart-right-icon {
    width: 8px;
    height: 12px;
    margin-left: 25px;
}

.cart-right-icon i {
    display: flex;
    width: 100%;
    height: 100%;
}

/* контент */

.main-inner {
    padding: 170px 0px 170px 0px;
}

/* Подвал */

.footer-top {
    background: #F4F4F4;
    padding: 60px 0px 80px 0px;
}

.footer-bottom {
    background: #1A654B;
    padding: 31px 0px 31px 0px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.footer-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-copy {
    color: #303030;
}

.footer-menu {

}

.footer-menu__list {
    display: flex;
    flex-direction: column;
}

.footer-menu__item {
    margin-bottom: 14px;
}

.footer-menu__item:last-child {
    margin-bottom: 0;
}

.footer-menu__link {
    transition: 0.3s;
    display: inline-block;
    color: #B1AFAA;
}

.footer-menu__link:hover {
    color: #303030;
}

.footer-menu__link.activ {
    color: #303030;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
}

.footer-contakts__wrap {
}

.footer-addres__inner {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-addres__desc {
    margin-left: 6px;
    color: #303030;
}

.footer-phone__inner {
    display: flex;
    align-items: center;
}

.footer-phone__list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.footer-phone__item {
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    color: #303030;
}

.footer-contakts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-social__title {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.footer-social__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
}

.footer-social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    margin-right: 25px;
    transition: 0.3s;
}

.footer-social__item:last-child {
    margin-right: 0;
}

.footer-social__item:hover i svg path {
    transition: 0.3s;
    fill: #55ACEE;
}

.footer-newsletter__title {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    color: #303030;
    margin-bottom: 20px;
}

.footer-newsletter__subtitle {
    display: inline-block;
    color: #303030;
    margin-bottom: 35px;
}

.footer-newsletter__wrap {
    width: 100%;
    max-width: 327px;
    display: flex;
    flex-direction: column;
}

.footer-newsletter__panel {
    display: flex;
    justify-content: space-between;
    height: 55px;
    background: #FFFFFF;
}

button {}

.footer-newsletter__panel button {
    padding: 16px;
}

.footer-newsletter__panel button i {
    display: block;
    width: 23px;
    height: 23px;
}

.footer-newsletter__panel input {
    display: flex;
    flex: 1 1 auto;
    padding: 18px 20px;
}

.footer-newsletter__panel input::placeholder {
    color: #B1AFAA;
}

.footer-newsletter__checkbox {
    cursor: pointer;
    margin-top: 21px;
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    color: #B1AFAA;
}

.footer-newsletter__checkbox input[type="checkbox"] {
    position: static;
    width: 32px;
    height: 23px;
    opacity: 1;
    margin-top: 5px;
    margin-right: 15px;
    border-radius: 0;
    border: 0;
}

.footer-developer-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.developer-wrap a {
    font-size: 15px;
    color: #ffff;
}

.btnup {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 15px;
    z-index: 99;
    cursor: pointer;
    align-items: center;
}

.btnup.active {
    display: flex;
    padding: 10px;
    background: #1a654b;
}

.btnup span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    color: #FFCD1C;
    padding-right: 15px;
}

.btnup i {
    display: flex;
    width: 14px;
    height: 9px;
    margin-bottom: 4px;
}

/* Меню слайдер Магазина на главной */

.folder-menu-slider__wrap {
    display: flex;
}

.folder-menu__inner  {
    width: 50%;
    max-width: 327px;
    padding: 40px;
    margin-right: 30px;
    background: #1A654B;
}

.folder-menu__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.folder-menu__title {
    display: inline-block;
    font-weight: 500;
    font-size: 28px;
    color: #47A15D;
}

.folder-menu {
    margin: 12px 0 20px 0;
}

.folder-menu__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.folder-menu__link {
    display: block;
    padding: 17px 0px;
    color: #fff;
    transition: 0.3s;
    font-size: 18px;
    line-height: 21.33px;
    text-align: left;
}

.folder-menu__link:hover {
    color: #FFCD1C;
}

.folder-arrow {
    display: none;
    cursor: pointer;
    padding: 14px 20px;
    background: #47A15D;
    font-size: 11px;
    line-height: 13.04px;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
}

.folder-arrow.activ {
    display: inline-block;
}

.folder-slider {
    position: relative;
    height: 593px;
}
.folder-slider__item {
    position: relative;
    height: 100%;
}

.folder-slider__image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.folder-slider__image img {
    font-size: 0;
    width: 100%;
    height: 100%;
}

.folder-slider__info {
    width: 100%;
    height: 100%;
    padding: 141px 60px;
    position: relative;
    z-index: 1;
    display: flex;
}

.slider-info__top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}

.slider-info__title {
    display: inline-block;
    padding: 17px 29px;
    background: #FFCD1C;
    font-size: 38px;
    line-height: 45.03px;
    text-align: left;
    color: #fff;
}

.slider-info__price {
    width: auto;
    display: inline-block;
    padding: 14px 30px;
    background: #FFFFFF;
    font-size: 38px;
    line-height: 45.03px;
    text-align: left;
}

.swiper-btn {
    position: absolute;
    display: flex;
    bottom: 60px;
    left: 60px;
    width: 120px;
    height: 60px;
}

.swiper-button-next {
    position: absolute;
    top: inherit;
    right: 0;
    left: auto;
    width: 60px;
    height: 60px;
    transition: 0.3s;
    background: #1A654B;
    margin: 0;
    padding: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev {
    position: absolute;
    top: inherit;
    left: 0;
    right: auto;
    width: 60px;
    height: 60px;
    transition: 0.3s;
    background: #1A654B;
    margin: 0;
    padding: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev:hover {
    background: #47A15D;
}

.swiper-button-next:hover {
    background: #47A15D;
}

.swiper-button-next:after {
    font-size: 0;
    width: 8px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292894 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L8.41422 7L1.70711 13.7071C1.31658 14.0976 0.683419 14.0976 0.292894 13.7071C-0.0976301 13.3166 -0.0976301 12.6834 0.292894 12.2929L5.58579 7L0.292894 1.70711C-0.0976301 1.31658 -0.0976301 0.683417 0.292894 0.292893Z' fill='white'/%3E%3C/svg%3E%0A");
}

.swiper-button-prev:after {
    font-size: 0;
    width: 8px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.585786 7L7.29289 13.7071C7.68342 14.0976 8.31658 14.0976 8.70711 13.7071C9.09763 13.3166 9.09763 12.6834 8.70711 12.2929L3.41421 7L8.70711 1.70711C9.09763 1.31658 9.09763 0.683417 8.70711 0.292893Z' fill='white'/%3E%3C/svg%3E%0A");
}