@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: "Rubik", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

i {
    width: 100%;
    height: 100%;
    display: flex;
}

body {
	line-height: 1;
}

ol, ul {
    margin: 0;
    padding: 0;
	list-style: none;
}

a {
    text-decoration: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

button,input {
    cursor: pointer;
	outline: none;
	border: none;
	background: transparent;
	padding: 0;
    margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	font-family: "Rubik", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	height: 100%;
}

.overflo {
    overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1398px;
	margin: 0 auto;
}

.main {
	flex: 1 1 auto;
}

/* Стандартные стили */

/* header */

.burger-wrap {
    display: none;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.burger-btn {
    position: relative;
    z-index: 5;
    width: 53px;
    height: 53px;
    background-color: #1A654B;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447715 16 1C16 1.55228 15.5523 2 15 2H1C0.447715 2 0 1.55228 0 1ZM0 7C0 6.44772 0.447715 6 1 6H15C15.5523 6 16 6.44772 16 7C16 7.55228 15.5523 8 15 8H1C0.447715 8 0 7.55228 0 7ZM0 13C0 12.4477 0.447715 12 1 12H11C11.5523 12 12 12.4477 12 13C12 13.5523 11.5523 14 11 14H1C0.447715 14 0 13.5523 0 13Z' fill='%23FFCD1C'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.burger-btn.active {
    position: absolute;
    top: 0;
    left: 50%;
    background-image: url("data:image/svg+xml,%3Csvg class='close-icon' width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L15 15' stroke='%23ffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 15L15 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.burger-btn.close-icon {
    stroke: #fff;
}

.burger-container {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: #1a654b;
    transform: translateX(-100%);
    transition: 0.3s;
}

.burger-container.active {
    transform: translateX(0);
}

.main-menu .header-menu__list {
    display: flex;
    flex-direction: column;
}

.main-menu .header-menu__list .header-menu__item {
    margin: 0;
}

.main-menu .header-menu__list .header-menu__item .header-menu__link {
    display: block;
    padding: 15px;
    color: #fff;
}

.main-menu .header-menu__list .header-menu__item .header-menu__link:hover {
    background: #e1cb1c;
}

.main-menu .header-menu__list {
    display: flex;
    flex-direction: column;
}

.main-menu .header-menu__list .header-menu__item {
    margin: 0;
}

.main-menu .header-menu__list .header-menu__item .header-menu__link {
    display: block;
    padding: 15px;
    color: #fff;
}

.main-folder {
    margin-top: 15px;
}

.main-folder span {
    display: block;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    border-top: 2px solid #fff;
}

.main-folder .folder-menu__list .folder-menu__item {
    border: none;
}

.main-folder .folder-menu__list .folder-menu__item .folder-menu__link {
    font-size: 16px;
    padding: 15px;
    color: #fff;
}

.main-folder .folder-menu__list .folder-menu__item .folder-menu__link:hover {
    background: #e1cb1c;
}

.header-top__wrap {
    background-color: #F4F4F4;
}

.header-top__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 19px 0px 22px 0px;
}

.header-adop__info {
    display: none;
    align-items: center;
    margin-left: auto;
}

.header-adop__info .adop-item {
    margin-right: 31px;
}

.header-adop__info .adop-item:last-child {
    margin-right: 0;
}

.adop-cart .shop-cart__wrap {
    height: 53px;
    padding: 17px 23px 17px 20px;
}

.adop-cart .shop-cart__wrap .cart-left-icon {
    margin: 0;
}

.adop-cart .shop-cart__wrap .cart-badge {
    margin-right: 12px;
    padding: 4px 11px 3px 7px;
}

.adop-search {
    cursor: pointer;
    display: none;
}

.adop-contact {
    cursor: pointer;
    display: none;
}

.adop-user {
    cursor: pointer;
    display: none;
}

.adop-cart {
    display: none;
}

.header-menu {
    
}

.header-menu__list {
    display: flex;
}

.header-menu__item {
    margin-right: 22px;
}

.header-menu__item:last-child {
    margin-right: 0;
}

.header-menu__link {
    transition: 0.3s;
    display: inline-block;
    color: #B1AFAA;
}

.header-menu__link:hover {
    color: #303030;
}

.header-menu__link.activ {
    color: #303030;
}

.header-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 46px 0px 43px 0px;
}

.logo {
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 6px;
}

.logo span {
    display: inline-block;
}

.logo a {
    display: inline-block;
    color: black;
}

.logo-text .subtitle {
    font-size: 19px;
    color: #303030;
}

.info-addres-phone__wrap {
    display: flex;
    align-items: center;
}

.info-addres {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.addres-icon {
    width: 16px;
    height: 24px;
    margin-right: 20px;
}

.addres-icon i {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.addres-desc {
    color: #303030;
}

.info-phone {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.phone-icon {
    width: 21px;
    height: 21px;
}

.phone-icon i {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.info-phone__list {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0 20px;
}

.info-phone__item {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    color: #303030;
}

.info-phone__item {
    display: inline-block;
}

.phone-btn {
    font-size: 16px;
    color: #47A15D;
    padding-bottom: 2px;
    border-bottom: 1px dashed #47A15D;
}

.header-search-shop-cart__wrap {
    display: flex;
    align-items: center;
}

.site-search {
    display: flex;
    align-items: center;
    width: auto;
    height: 60px;
    background: #F4F4F4;
    margin-right: 10px;
}

.site-search__panel {
    cursor: auto;
    width: auto;
    height: 100%;
    padding: 10px 15px;
    border-right: 1px solid #b1afaa;

    display: none;
}

.site-search__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
}

.site-search__btn i {
    display: block;
    width: 22px;
    height: 22px;
}

.shop-cart__wrap {
    height: 60px;
    padding: 19px 28px 20px 20px;
    display: flex;
    align-items: center;
    background: #FFCD1C;
}

.cart-badge {
    width: 31px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='20' viewBox='0 0 31 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H25L31 10L25 20H0V0Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3px;
    padding-left: 7px;
    margin-right: 20px;
}

.cart-group {
    display: flex;
    align-items: center;
}

.cart-badge span {
    font-size: 11px;
    color: #1C1C1C;
}


.cart-left-icon {
    width: 21px;
    height: 21px;
    margin-right: 20px;
}

.cart-left-icon i {
    display: block;
    width: 100%;
    height: 100%;
}

.cart-desc {
    font-size: 19px;
    color: #fff;
    font-weight: 500;
}

.cart-desc span {
    font-weight: 300;
    padding-left: 5px;
}

.cart-right-icon {
    width: 8px;
    height: 12px;
    margin-left: 25px;
}

.cart-right-icon i {
    display: flex;
    width: 100%;
    height: 100%;
}

.footer-top {
    background: #F4F4F4;
    padding: 60px 0px 80px 0px;
}

.footer-bottom {
    background: #1A654B;
    padding: 31px 0px 31px 0px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.footer-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-copy {
    color: #303030;
}

.footer-menu {

}

.footer-menu__list {
    display: flex;
    flex-direction: column;
}

.footer-menu__item {
    margin-bottom: 14px;
}

.footer-menu__item:last-child {
    margin-bottom: 0;
}

.footer-menu__link {
    transition: 0.3s;
    display: inline-block;
    color: #B1AFAA;
}

.footer-menu__link:hover {
    color: #303030;
}

.footer-menu__link.activ {
    color: #303030;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
}

.footer-addres__inner {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-addres__desc {
    margin-left: 6px;
    color: #303030;
}

.footer-phone__inner {
    display: flex;
    align-items: center;
}

.footer-phone__list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.footer-phone__item {
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    color: #303030;
}

.footer-contakts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-social__title {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.footer-social__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
}

.footer-social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    margin-right: 25px;
    transition: 0.3s;
}

.footer-social__item:last-child {
    margin-right: 0;
}

.footer-social__item:hover i svg path {
    transition: 0.3s;
    fill: #55ACEE;
}

.footer-newsletter__title {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    color: #303030;
    margin-bottom: 20px;
}

.footer-newsletter__subtitle {
    display: inline-block;
    color: #303030;
    margin-bottom: 35px;
}

.footer-newsletter__wrap {
    width: 100%;
    max-width: 327px;
    display: flex;
    flex-direction: column;
}

.footer-newsletter__panel {
    display: flex;
    justify-content: space-between;
    height: 55px;
    background: #FFFFFF;
}

button {}

.footer-newsletter__panel button {
    padding: 16px;
}

.footer-newsletter__panel button i {
    display: block;
    width: 23px;
    height: 23px;
}

.footer-newsletter__panel input {
    display: flex;
    flex: 1 1 auto;
    padding: 18px 20px;
}

.footer-newsletter__panel input::placeholder {
    color: #B1AFAA;
}

.footer-newsletter__checkbox {
    cursor: pointer;
    margin-top: 21px;
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    color: #B1AFAA;
}

.footer-newsletter__checkbox input[type="checkbox"] {
    position: static;
    width: 32px;
    height: 23px;
    opacity: 1;
    margin-top: 5px;
    margin-right: 15px;
    border-radius: 0;
    border: 0;
}

.footer-developer-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.developer-wrap a {
    font-size: 15px;
    color: #ffff;
}

.btnup {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 15px;
    z-index: 99;
    cursor: pointer;
    align-items: center;
}

.btnup.active {
    display: flex;
    padding: 10px;
    background: #1a654b;
}

.btnup span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    color: #FFCD1C;
    padding-right: 15px;
}

.btnup i {
    display: flex;
    width: 14px;
    height: 9px;
    margin-bottom: 4px;
}

/* Меню слайдер Магазина на главной */

.folder-menu-slider__wrap {
    display: flex;
    flex-wrap: wrap;
}

.folder-menu__inner {
    width: 50%;
    max-width: 327px;
    padding: 40px;
    margin-right: 30px;
    background: #1A654B;
}

.adop-folder__menu {
    display: none;
}

.folder-menu__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.folder-menu__title {
    display: inline-block;
    font-weight: 500;
    font-size: 28px;
    color: #47A15D;
}

.folder-menu {
    margin: 12px 0 20px 0;
}

.folder-menu__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.folder-menu__link {
    display: block;
    padding: 17px 0px;
    color: #fff;
    transition: 0.3s;
    font-size: 18px;
    line-height: 21.33px;
    text-align: left;
}

.folder-menu__link:hover {
    color: #FFCD1C;
}

.folder-arrow {
    display: none;
    cursor: pointer;
    padding: 14px 20px;
    background: #47A15D;
    font-size: 11px;
    line-height: 13.04px;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
}

.folder-arrow.active {
    display: inline-block;
}

.folder-slider {
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
    height: 593px;
}
.folder-slider__item {
    position: relative;
    height: 100%;
}

.folder-slider__image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.folder-slider__image img {
    font-size: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.folder-slider__info {
    width: 100%;
    height: 100%;
    padding: 141px 60px;
    position: relative;
    z-index: 1;
    display: flex;
}

.slider-info__top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}

.slider-info__title {
    display: inline-block;
    padding: 17px 29px;
    background: #FFCD1C;
    font-size: 38px;
    line-height: 45.03px;
    text-align: left;
    color: #fff;
}

.slider-info__price {
    width: auto;
    display: inline-block;
    padding: 14px 30px;
    background: #FFFFFF;
    font-size: 38px;
    line-height: 45.03px;
    text-align: left;
}

.swiper-btn {
    position: absolute;
    display: flex;
    bottom: 60px;
    left: 60px;
    width: 120px;
    height: 60px;
}

.swiper-button-next {
    position: absolute;
    top: inherit;
    right: 0;
    left: auto;
    width: 60px;
    height: 60px;
    transition: 0.3s;
    background: #1A654B;
    margin: 0;
    padding: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev {
    position: absolute;
    top: inherit;
    left: 0;
    right: auto;
    width: 60px;
    height: 60px;
    transition: 0.3s;
    background: #1A654B;
    margin: 0;
    padding: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev:hover {
    background: #47A15D;
}

.swiper-button-next:hover {
    background: #47A15D;
}

.swiper-button-next:after {
    font-size: 0;
    width: 8px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292894 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L8.41422 7L1.70711 13.7071C1.31658 14.0976 0.683419 14.0976 0.292894 13.7071C-0.0976301 13.3166 -0.0976301 12.6834 0.292894 12.2929L5.58579 7L0.292894 1.70711C-0.0976301 1.31658 -0.0976301 0.683417 0.292894 0.292893Z' fill='white'/%3E%3C/svg%3E%0A");
}

.swiper-button-prev:after {
    font-size: 0;
    width: 8px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.585786 7L7.29289 13.7071C7.68342 14.0976 8.31658 14.0976 8.70711 13.7071C9.09763 13.3166 9.09763 12.6834 8.70711 12.2929L3.41421 7L8.70711 1.70711C9.09763 1.31658 9.09763 0.683417 8.70711 0.292893Z' fill='white'/%3E%3C/svg%3E%0A");
}

.adop-slider__btn {
    display: none;
    margin-top: 20px;
}

.adop-slider__btn .swiper-btn {
    position: static;
    width: 100%;
}

.adop-slider__btn .swiper-btn .swiper-button-next {
    width: 50%;
}

.adop-slider__btn .swiper-btn .swiper-button-prev {
    width: 50%;
}

/* Категории в блоке на главной */

.categories-block__item {
    position: relative;
    height: 327px;
}

.categories-block__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.categories-block__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.categories-block__info {
    position: absolute;
    top: auto;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categories-block__title {
    display: inline-block;
    background: #FFCD1C;
    color: #fff;
    padding: 11px 20px;
    font-size: 19px;
    line-height: 22.52px;
    text-align: left;
}

.categories-block__btn {
    display: inline-block;
    background: #FFFFFF;
    color: black;
    padding: 16px 20px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13.04px;
    letter-spacing: 0.2em;
    text-align: left;
    transition: 0.3s;
}

.categories-block__btn:hover {
    background: #1A654B;
    color: #fff;
}

.categories-block__list {
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.categories-block__item:first-child {
    grid-row: 1;
    grid-column: span 2;
}

.categories-block__item:nth-child(3) {
    grid-column: 4;
    grid-row: span 2;
    height: 100%;
}

.categories-block-arrow__btn {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-block__arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #47A15D;
    padding: 21px 30px;
    font-size: 11px;
    line-height: 13.04px;
    letter-spacing: 0.2em;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;
}

.categories-block__arrow:hover {
    background: #1A654B;
}

.categories-block__arrow span {
    margin-left: 10px;
}

/* Товары на главной + блоки с сылкой на каталог */

.product-main__inner {
    margin-top: 100px;
}

.product-wrap__title-btn {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.product-wrap__title-btn .swiper-btn {
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    position: static;
}

.product-wrap__title-btn .swiper-btn .swiper-button-next {
    position: static;
}

.product-wrap__title-btn .swiper-btn .swiper-button-prev {
    position: static;
}

.product-wrap__title {
    display: inline-block;
    font-weight: 500;
    font-size: 48px;
    line-height: 56.88px;
    text-align: left;
}

.product-wrap__item.swiper-slide {
    border: 1px solid #F4F4F4;
    transition: 0.3s;
}

.product-wrap__item.swiper-slide:hover {
    border: 1px solid #1A654B;
}

.product-wrap__top {
    padding: 30px;
    font-size: 0;
}

.prod-image {
    font-size: 0;
    width: 100%;
    height: 100%;
}

.prod-image span {
    font-size: 0;
    display: block;
    width: 267px;
    height: 267px;
}

.prod-image span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-wrap__botto {
    padding: 0px 30px 0px 30px;
}

.prod-btn {
    border-top: 1px solid #F4F4F4;
    margin: 25px -30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prod-name a {
    display: inline-block;
    font-size: 21px;
    line-height: 24.89px;
    text-align: left;
    color: #3D3D3D;
}

.prod-wendor a {
    display: inline-block;
    font-size: 14px;
    line-height: 16.59px;
    text-align: left;
    color: rgba(61, 61, 61, 0.5);
}

.prod-wendor {
    margin-top: 10px;
    line-height: 1;
}

.prod-price {
    margin-top: 30px;
    font-weight: 500;
    font-size: 19px;
    line-height: 22.27px;
    text-align: left;
    color: #3D3D3D;
}

.prod-price span {
    font-weight: 400;
    font-size: 19px;
    text-align: left;
}

.card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    background: #FFCD1C;
    transition: 0.3s;
}

.card-btn i {
    width: 22px;
    height: 20px;
}

.card-btn:hover {
    background: #1A654B;
}

.prod-link {
    position: relative;
    margin-right: 30px;
    padding-right: 25px;
    display: inline-block;
    font-size: 11px;
    line-height: 13.04px;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
    color: #303030;
}

.prod-link:after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
    width: 5px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.646447 0.146447C0.841709 -0.0488155 1.15829 -0.0488155 1.35355 0.146447L5.70711 4.5L1.35355 8.85355C1.15829 9.04882 0.841709 9.04882 0.646447 8.85355C0.451184 8.65829 0.451184 8.34171 0.646447 8.14645L4.29289 4.5L0.646447 0.853553C0.451184 0.658291 0.451184 0.341709 0.646447 0.146447Z' fill='black'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.folder-link-wrap {
    margin: 90px 0;
}

.folder-link__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -15px 0;
}

.folder-link__item {
    width: calc(100% / 2 - 30px);
    height: 300px;
    margin: 0 15px 30px;
    padding: 55px 70px;
}

.folder-link__item:nth-last-child(-n +2) {
    margin-bottom: 0;
}

.folder-link__item:nth-child(odd) {
    background-color: #47A15D;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: right;
    background-image: url(/src/image/folder-link_1.png);
    background-position: 90% 100%;
    background-repeat: no-repeat;
    background-size: auto;
}

.folder-link__item:nth-child(even) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
    background: url(/src/image/folder-link_2.png) 10% 70% no-repeat, url(/src/image/folder-link_3.png) 30% 25% no-repeat;
    background-color: #FFCD1C;
}

.folder-link__title {
    font-weight: 500;
    font-size: 29px;
    line-height: 34.37px;
    color: #FFFFFF;
}

.folder-link__info {
    width: 100%;
    max-width: 308px;
}

.folder-link__btn a {
    display: inline-block;
    background: #1A654B;
    padding: 19px 30px;
    font-size: 15px;
    line-height: 17.78px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;
}

.folder-link__btn a:hover {
    background: #fff;
    color: #000;
}

.folder-link__btn {
    margin-top: 37px;
}

/* Информация на главной странице */

.page-main__inner {
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

h1.site-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56.88px;
    text-align: left;
    color: #3D3D3D;
}

.page-main__left {
    width: 50%;
    max-width: 684px;
    padding-right: 65px;
}

.page-main__right {
    position: relative;
    width: 50%;
    height: 471px;
    max-width: 684px;
    padding: 60px;
    display: flex;
    align-items: flex-start;
    background-color: #F4F4F4;
}

.page-main__image {
    position: absolute;
    bottom: 0;
    right: 50px;
    font-size: 0;
}

.page-main__image span {
    display: block;
    font-size: 0;
    width: 345px;
    height: 423px;
}

.page-main__image span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.site-content {
    font-weight: 300;
    margin-top: 45px;
    font-size: 16px;
    line-height: 29.26px;
    text-align: left;
    color: #3D3D3D;
}

.page-main-info__title {
    font-weight: 700;
    font-size: 29px;
    line-height: 34.37px;
    text-align: left;
    color: #3D3D3D;
}

.page-main-info__desc {
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24.3px;
    text-align: left;
    color: #3D3D3D;
}

.page-main__info {
    width: 100%;
    height: 100%;
    max-width: 326px;
    display: flex;
    flex-direction: column;
}

.page-main-info__btn {
    margin-top: auto;
}

.page-main-info__btn a {
    display: inline-block;
    background: #FFCD1C;
    padding: 19px 30px;
    font-size: 15px;
    line-height: 17.78px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;
}

.page-main-info__btn a:hover {
    background: #1A654B;
}

/* Отзывы + новости */

.reviews-news__inner {
    padding: 170px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.reviews-wrap {
    width: 50%;
    max-width: 266px;
    margin-right: 91px;
}

.reviews-wrap__title {
    font-weight: 400;
    font-size: 30px;
    text-align: left;
    color: #3D3D3D;
}

.reviews-wrap__title span {
    color: #FFCD1C;
}

.reviews-wrap__list {
    margin-top: 40px;
}

.reviews-wrap__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.reviews-wrap__item:last-child {
    margin: 0;
}

.reviews-data {
    font-size: 13px;
    line-height: 15.41px;
    text-align: left;
    color: rgba(61, 61, 61, 0.25);
}

.reviews-name {
    margin-top: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.7px;
    text-align: left;
    color: #3D3D3D;
}

.reviews-desc {
    margin-top: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 22.79px;
    text-align: left;
    color: #3D3D3D;
}

.reviews-arrow a {
    display: inline-block;
    background: #FFCD1C;
    padding: 19px 30px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17.78px;
    text-align: left;
    color: #ffff;
    transition: 0.3s;
    margin-top: 30px;
}

.reviews-arrow a:hover {
    background: #1a654b;
}

.news-wrap {
    width: 50%;
    flex: 1 1 auto;
}

.news-wrap__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56.88px;
    text-align: left;
}

.news-wrap__info {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.news-wrap-info__left {
    margin-right: 30px;
    overflow: hidden;
    height: 540px;
}

.news-wrap-info__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -15px 0;
}

.news-wrap-info__item {
    width: calc(100% / 2 - 30px);
    height: 100%;
    max-width: 327px;
    margin: 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.news-wrap-info__top {
    width: 327px;
    height: 327px;
    font-size: 0;
}

.news-wrap-info__top span {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 0;
}

.news-wrap-info__top span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-wrap-info__bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background: #F4F4F4;
}

.news-wrap-info__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23.7px;
    text-align: left;
    color: #3D3D3D;
}

.news-wrap-info__desc {
    margin: 20px 0 30px;
    font-weight: 300;
    font-size: 15px;
    line-height: 22.79px;
    text-align: left;
}

.news-wrap-info__link a {
    position: relative;
    margin-right: 30px;
    padding-right: 25px;
    display: inline-block;
    font-size: 11px;
    line-height: 13.04px;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
    color: #303030;
}

.news-wrap-info__link a:after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
    width: 5px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.646447 0.146447C0.841709 -0.0488155 1.15829 -0.0488155 1.35355 0.146447L5.70711 4.5L1.35355 8.85355C1.15829 9.04882 0.841709 9.04882 0.646447 8.85355C0.451184 8.65829 0.451184 8.34171 0.646447 8.14645L4.29289 4.5L0.646447 0.853553C0.451184 0.658291 0.451184 0.341709 0.646447 0.146447Z' fill='black'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.news-wrap-box__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.news-wrap-box__item {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    width: 327px;
    height: 255px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 30px;
}

span.news-wrap-box__image {
    display: block;
    font-size: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: auto;
}

span.news-wrap-box__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-wrap-box__info {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 29px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.news-wrap-box__title {
    font-weight: 600;
    font-size: 29px;
    line-height: 34.37px;
    text-align: left;
    color: #fff;
}

.news-wrap-box__link a {
    position: relative;
    margin-right: 30px;
    padding-right: 25px;
    display: inline-block;
    font-size: 11px;
    line-height: 13.04px;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
    color: #FFCD1C;
}

.news-wrap-box__link a:after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
    width: 5px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.646447 0.146447C0.841709 -0.0488155 1.15829 -0.0488155 1.35355 0.146447L5.70711 4.5L1.35355 8.85355C1.15829 9.04882 0.841709 9.04882 0.646447 8.85355C0.451184 8.65829 0.451184 8.34171 0.646447 8.14645L4.29289 4.5L0.646447 0.853553C0.451184 0.658291 0.451184 0.341709 0.646447 0.146447Z' fill='%23FFCD1C'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.news-wrap-box__item:last-child {
    margin-bottom: 0;
}

.news-wrap-box__item:hover .news-wrap-box__info {
    opacity: 1;
    visibility: visible;
    background: rgba(26, 101, 75, 0.85);
    transition: 0.3s;
}

.folder-adop__wrap {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    display: none;
}

.folder-adop__menu {
    margin-right: 30px;
}

.folder-adop__menu .folder-menu__btn {
    gap: 33px;
    cursor: pointer;
    background: #1A654B;
    padding: 15px 33px;
}

.folder-adop__menu .folder-menu__btn .folder-menu__title {
    font-size: 20px;
    color: #FFCD1C;
}

.folder-adop__menu .folder-menu__btn .folder-menu__icon {
    font-size: 0;
}

.folder-adop__menu .folder-menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 4;
    background: #1A654B;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.folder-adop__menu .folder-menu .folder-menu__list {
    padding: 30px;
    column-count: 4;
}

.folder-adop__menu .folder-menu .folder-menu__list .folder-menu__link {
    display: inline-block;
}

.folder-adop__menu .folder-menu.active {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.folder-adop__search .site-search {
    width: 100%;
    margin: 0;
}

.folder-adop__search .site-search .site-search__panel {
    width: 100%;
    display: block;
    border: none;
}

.folder-adop__search {
    width: 100%;
    max-width: 385px;
}

.folder-adop__cart {
    width: 100%;
    max-width: 305px;
    display: flex;
    align-items: center;
    background: #FFCD1C;
    padding: 15px 30px 15px 20px;
    margin-left: 30px;
}

.folder-adop__cart .cart-group .cart-right-icon {
    margin-left: 70px;
}

/* Подвал */

/* контент */

.folder-menu.hide {
    display: none;
}

.main-content {
    padding: 0px 0px 151px 0px;
}

.page-path__wrap {
    background: #F4F4F4;
}

.page-path__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
}

.page-path__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 30px;
}

.page-path__item a {
    position: relative;
    display: block;
    padding: 7px 23px 7px 20px;
    color: #303030;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}

.page-path__item a:after {
    content: '';
    position: absolute;
    top: auto;
    bottom: -3px;
    right: 0;
    width: 1px;
    height: 65%;
    background: #f4f4f4;
    transform: rotate(-325deg);
    z-index: 1;
}

.page-path__item a:before {
    content: '';
    position: absolute;
    top: -3px;
    bottom: auto;
    right: 0;
    width: 1px;
    height: 65%;
    background: #f4f4f4;
    transform: rotate(325deg);
    z-index: 1;
}

.page-path__item span {
    position: relative;
    display: block;
    padding: 7px 23px 7px 20px;
    font-family: Rubik;
    font-size: 13px;
    line-height: normal;
    text-align: left;
    color: rgba(48, 48, 48, 0.3);
}

.page-path__item span:before {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 16px solid #f4f4f4;
    border-left: 10px solid transparent;
}

.page-path__item span::after {
    content: '';
    position: absolute;
    top: auto;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 16px solid #f4f4f4;
    border-left: 10px solid transparent;
}

.site-title__wrap {
    margin-top: 80px;
}

/* контент */

/* Панель каталога */

.folder-panel__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border: 1px solid #F4F4F4;
    padding: 20px 30px;
}

.folder-compare {
    position: relative;
    line-height: normal;
}

.folder-compare__btn {
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    color: #3D3D3D;
    cursor: pointer;
}

.folder-compare__btn span {
    position: relative;
    display: inline-block;
    padding-right: 30px;
}

.folder-compare__btn span:before {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 2px);
    width: 10px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976309 1.31658 -0.0976309 1.70711 0.292893L5 3.58579L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L5 6.41421L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893Z' fill='%23B1AFAA'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    transition: 0.3s;
}

.folder-compare__btn.active span:before {
    transform: rotate(180deg);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.0976309 1.31658 -0.0976309 1.70711 0.292893L5 3.58579L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L5 6.41421L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893Z' fill='%23000'/%3E%3C/svg%3E%0A");
}

.folder-compare__popap {
    position: absolute;
    z-index: a;
    top: auto;
    border: 1px solid black;
    background-color: #fff;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.folder-compare__popap.active {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.compare-popap__item {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 20px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    text-align: left;
    color: #3D3D3D;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.compare-popap__item:last-child {
    border-bottom: 1px solid transparent;
}

.folder-change {
    display: flex;
    align-items: center;
    gap: 15px;
}

.folder-change__item {
    display: block;
    cursor: pointer;
    width: 14px;
    height: 14px;
    transition: 0.3s;
}

.folder-change__item:hover span i svg path {
    fill: #47A15D;
}

.folder-change__item:hover span i svg g {
    opacity: 1;
}

.folder-change__item span {
    display: block;
    width: 100%;
    height: 100%;
}

.folder-change__item span i {
    display: block;
    width: 100%;
    height: 100%;
}

.folder-change__item.active span i svg path {
    fill: #47A15D;
}

.folder-change__item.active span i svg {
    opacity: 1;
}

.folder-change__item.thumbs-in.active span i svg path {fill: #47A15D;}

.folder-change__item.simple-in.active span i svg path {
    fill: #47A15D;
}

.folder-change__item.simple-in.active span i svg g {
    opacity: 1;
}

.folder-change__item.list-in.active span i svg path {
    fill: #47A15D;
}

.folder-change__item.list-in.active span i svg g {
    opacity: 1;
}

.folder-filter {
    line-height: normal;
}

.folder-filter__btn {
    display: inline-block;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
    text-align: left;
    transition: 0.3s;
}

.folder-filter__btn span {
    display: inline-block;
    position: relative;
    padding-right: 33px;
}

.folder-filter__btn span:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
    width: 13px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.986684 2.99228C0.224791 1.65897 1.18752 0 2.72317 0H12.2768C13.8125 0 14.7752 1.65896 14.0133 2.99228L11 8.26556V15.2338C11 16.7884 9.30404 17.7486 7.971 16.9488L4.971 15.1488C4.36859 14.7873 3.99999 14.1363 3.99999 13.4338V8.26556L0.986684 2.99228ZM12.2768 2H2.72317L5.99999 7.73444V13.4338L8.99999 15.2338L8.99999 7.73444L12.2768 2Z' fill='%23B1AFAA'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.folder-filter__btn:hover span:before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.986684 2.99228C0.224791 1.65897 1.18752 0 2.72317 0H12.2768C13.8125 0 14.7752 1.65896 14.0133 2.99228L11 8.26556V15.2338C11 16.7884 9.30404 17.7486 7.971 16.9488L4.971 15.1488C4.36859 14.7873 3.99999 14.1363 3.99999 13.4338V8.26556L0.986684 2.99228ZM12.2768 2H2.72317L5.99999 7.73444V13.4338L8.99999 15.2338L8.99999 7.73444L12.2768 2Z' fill='%23000'/%3E%3C/svg%3E%0A");
}

/* Панель каталога */

/* Товары в витрине */

.folder-product__list {
    margin: 0 -15px;
    margin-top: 30px;
}

.folder-product__item {
    width: 100%;
    border: 1px solid #F4F4F4;
    transition: 0.3s;
}




.folder-product__list.thumbs {
    display: flex;
    flex-wrap: wrap;
}

.folder-product__list.thumbs .folder-product__item {
    width: calc(100% / 4 - 30px);
    margin: 0 15px 30px;
}

.folder-product__list.thumbs .folder-product__item:hover {
    border: 1px solid #1A654B;
}




.folder-product__list.simple {
    display: flex;
    flex-wrap: wrap;
}

.folder-product__list.simple .folder-product__item {
    width: calc(50% - 30px);
    margin: 0 15px 30px;
}

.folder-product__list.simple .folder-product__item:hover {
    border: 1px solid #1A654B;
}

.folder-product__list.simple .folder-product__item {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.folder-product__list.simple .folder-product__item .product-wrap__top {
    width: 50%;
}

.folder-product__list.simple .folder-product__item .product-wrap__botto {
    width: 50%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.folder-product__list.simple .folder-product__item .product-wrap__botto .prod-price {
    margin: 0;
    margin-top: auto;
}

.folder-product__list.simple .folder-product__item .product-wrap__botto .prod-btn {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    border: none;
    border: 1px solid #F4F4F4;
}




.folder-product__list.list {}

.folder-product__list.list .folder-product__item {
    display: flex;
    align-items: center;
    padding: 26px 30px 25px;
}

.folder-product__list.list .folder-product__item:hover {
    border: 1px solid #1A654B;
}

.folder-product__list.list .folder-product__item .product-wrap__top {
    display: none;
}

.folder-product__list.list .folder-product__item .product-wrap__botto {
    width: 1000%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.folder-product__list.list .folder-product__item .product-wrap__botto .prod-price {
    margin: 0;
}

.folder-product__list.list .folder-product__item .product-wrap__botto .prod-btn {
    margin: 0;
    border: none;
}

.folder-product__list.list .folder-product__item .product-wrap__botto .prod-btn .prod-link {
    display: none;
}





/* Товары в витрине */